<!DOCTYPE html>
<html lang="en">
<head>
    <title>睡眠监测可视化分析</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <header>
        <h1>睡眠监测可视化分析</h1>
    </header>
    <section class="login">
        <form action="login" method="post">
            <input type="text" name="id" placeholder="设备ID"><br>
            <input type="password" name="pwd" placeholder="密码"><br>
            <input type="submit" name="submit" class="submit">
        </form>
    </div>
</body>
</html>

