absl-py==2.1.0
accelerate==0.34.2
aiofiles==23.2.1
aiohttp==3.8.6
aiosignal==1.3.1
alabaster==0.7.16
altair==5.1.2
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
argon2-cffi-bindings==21.2.0
argon2-cffi==23.1.0
arrow==1.3.0
asciitree==0.3.3
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.1
automodel==0.5.9
babel==2.14.0
backoff==2.2.1
beautifulsoup4==4.12.2
bitsandbytes==0.41.0
bleach==6.1.0
blinker==1.6.3
blis==0.7.11
bounded-pool-executor==0.0.3
brotli==1.1.0
build==1.0.3
cachecontrol==0.13.1
cachetools==5.3.2
catalogue==2.0.10
certifi==2022.12.7
cffi==1.16.0
chardet==5.2.0
charset-normalizer==2.1.1
cleo==2.1.0
click==8.1.7
cloudpathlib==0.16.0
cloudpickle==3.0.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
confection==0.1.3
configs==3.0.3
contourpy==1.1.1
cpm-kernels==1.0.11
crashtest==0.4.1
cryptography==41.0.5
cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.6.2
datasets==2.14.6
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.7
distlib==0.3.7
distro==1.8.0
docker-pycreds==0.4.0
docutils==0.20.1
dulwich==0.21.6
effdet==0.4.1
einops==0.7.0
emoji==2.8.0
et-xmlfile==1.1.0
executing==2.0.1
faiss-cpu==1.7.4
farama-notifications==0.0.4
fastapi==0.104.1
fasteners==0.19
fastjsonschema==2.18.1
ffmpeg-python==0.2.0
ffmpeg==1.4
ffmpy==0.3.1
filelock==3.13.0
filetype==1.2.0
flatbuffers==23.5.26
fonttools==4.43.1
fqdn==1.5.1
frozenlist==1.4.0
fschat==0.2.32
fsspec==2023.10.0
future==1.0.0
gensim==4.3.3
gitdb==4.0.11
gitpython==3.1.40
gpytorch==1.12
gradio-client==0.6.1
gradio==3.50.2
graphviz==0.20.1
greenlet==3.0.1
grpcio==1.65.4
gymnasium==0.29.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.18.0
httpx==0.25.0
huggingface-hub==0.24.7
humanfriendly==10.0
hyperframe==6.0.1
icetk==0.0.7
idna==3.4
imagesize==1.4.1
importlib-metadata==6.8.0
importlib-resources==6.1.0
iniconfig==2.0.0
installer==0.7.0
iopath==0.1.10
ipykernel==6.29.5
ipython==8.20.0
ipywidgets==8.1.3
isoduration==20.11.0
jaconv==0.4.0
jams==0.3.4
japanesetokenizer==1.6
jaraco.classes==3.3.0
jaxtyping==0.2.33
jedi==0.19.1
jieba==0.42.1
jinja2==3.1.2
joblib==1.3.2
json5==0.9.25
jsonpatch==1.33
jsonpointer==2.4
jsonschema-specifications==2023.7.1
jsonschema==4.19.2
jupyter-client==8.6.2
jupyter-console==6.6.3
jupyter-core==5.7.2
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter-server-terminals==0.5.3
jupyter-server==2.14.2
jupyter==1.0.0
jupyterlab-pygments==0.3.0
jupyterlab-server==2.27.3
jupyterlab-widgets==3.0.11
jupyterlab==4.2.4
keras-applications==1.0.6
keras-preprocessing==1.0.5
keyring==24.3.0
kiwisolver==1.4.5
langchain-experimental==0.0.40
langchain==0.0.335
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.0.63
latex2mathml==3.76.0
layoutparser==0.3.4
lazy-loader==0.4
librosa==0.10.2.post1
linear-operator==0.5.2
llvmlite==0.43.0
lxml==4.9.3
markdown-it-py==3.0.0
markdown2==2.4.10
markdown==3.5
markdownify==0.11.6
markupsafe==2.1.3
marshmallow==3.20.1
matplotlib-inline==0.1.6
matplotlib==3.8.0
mdtex2html==1.2.0
mdurl==0.1.2
mecab-python3==1.0.9
mir-eval==0.7
mistune==3.0.2
more-itertools==10.1.0
mpmath==1.3.0
msg-parser==1.2.0
msgpack==1.0.7
multidict==6.0.4
multiprocess==0.70.15
murmurhash==1.0.10
musdb==0.4.2
museval==0.4.1
mypy-extensions==1.0.0
nanodb-driver==0.0.3
nanodb==0.4.3
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nh3==0.2.14
nltk==3.8.1
norbert==0.2.1
notebook-shim==0.2.4
notebook==7.2.1
numba==0.60.0
numcodecs==0.13.0
numexpr==2.8.7
numpy==1.24.4
numpydoc==1.6.0
nussl==1.1.9
olefile==0.46
omegaconf==2.3.0
onnx==1.15.0
onnxruntime==1.15.1
openai==1.2.0
opencv-python==4.8.1.78
openpyxl==3.1.2
orjson==3.9.10
overrides==7.7.0
packaging==23.2
pandas==2.0.3
pandocfilters==1.5.1
parso==0.8.3
pathlib==1.0.1
pathtools==0.1.2
pdf2image==1.16.3
pdfminer.six==20221105
pdfplumber==0.10.3
pdpbox1==0.2.5
pdpbox==0.3.0
peft==0.5.0
pexpect==4.8.0
pillow==9.3.0
pip==24.2
pkginfo==1.9.6
platformdirs==3.11.0
plotly==5.18.0
pluggy==1.3.0
plumbum==1.8.2
poetry-core==1.8.1
poetry-plugin-export==1.6.0
poetry==1.7.0
pooch==1.8.2
portalocker==2.8.2
pqdm==0.2.0
preshed==3.0.9
prettytable==3.9.0
prometheus-client==0.20.0
prompt-toolkit==3.0.43
protobuf==4.25.0
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyaml==24.7.0
pyarrow==13.0.0
pyclipper==1.3.0.post5
pycocotools==2.0.7
pycparser==2.21
pydantic-core==2.10.1
pydantic==1.10.13
pydeck==0.8.1b0
pydub==0.25.1
pyecharts==2.0.4
pygame==2.6.0
pygments==2.16.1
pyknp==0.6.1
pyloudnorm==0.1.1
pymupdf==1.23.6
pymupdfb==1.23.6
pypandoc==1.12
pyparsing==3.1.1
pypdf2==3.0.1
pypdfium2==4.24.0
pyproject-hooks==1.0.0
pyreadline3==3.4.1
pytesseract==0.3.10
pytest==7.4.3
python-dateutil==2.8.2
python-decouple==3.8
python-docx==1.1.0
python-iso639==2023.6.15
python-json-logger==2.0.7
python-magic==0.4.27
python-multipart==0.0.6
python-pptx==0.6.23
pytorch-ignite==0.5.0.post2
pytz==2023.3.post1
pywin32-ctypes==0.2.2
pywin32==306
pywinpty==2.0.13
pyyaml==6.0.1
pyzmq==25.1.1
qtconsole==5.5.2
qtpy==2.4.1
rapidfuzz==3.5.2
rapidocr-onnxruntime==1.3.8
referencing==0.30.2
regex==2023.10.3
requests-toolbelt==1.0.0
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.6.0
rouge-chinese==1.0.3
rpds-py==0.10.6
rpyc==5.3.1
safetensors==0.4.5
scikit-learn==1.3.2
scipy==1.11.3
seaborn==0.13.1
semantic-version==2.10.0
send2trash==1.8.3
sentence-transformers==2.2.2
sentencepiece==0.1.99
sentry-sdk==1.32.0
setproctitle==1.3.3
setuptools==65.5.0
shapely==2.0.2
shellingham==1.5.4
shortuuid==1.0.11
simplejson==3.19.2
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
socksio==1.0.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
sox==1.5.0
soxr==0.4.0
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy==3.7.2
sphinx-rtd-theme==2.0.0
sphinx==7.2.6
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
sqlalchemy==2.0.19
srsly==2.4.8
sse-starlette==1.6.5
stack-data==0.6.3
starlette==0.27.0
stempeg==0.2.3
streamlit-aggrid==0.3.4.post3
streamlit-antd-components==0.2.3
streamlit-chat==0.1.1
streamlit-chatbox==1.1.11
streamlit-feedback==0.1.2
streamlit-option-menu==0.3.6
streamlit==1.27.2
strsimpy==0.2.1
svgwrite==1.4.3
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard-data-server==0.7.2
tensorboard==2.17.0
terminado==0.18.1
termtables==0.2.4
thinc==8.2.1
threadpoolctl==3.2.0
tiktoken==0.5.1
timm==0.9.10
tinycss2==1.3.0
tokenizers==0.19.1
toml==0.10.2
tomlkit==0.12.2
toolz==0.12.0
torch==2.1.0+cu121
torchaudio==2.1.0+cu121
torchvision==0.16.0+cu121
tornado==6.3.3
tqdm==4.66.1
traitlets==5.14.1
transformers-stream-generator==0.0.4
transformers==4.44.2
trove-classifiers==2023.11.9
typeguard==2.13.3
typer==0.9.0
types-python-dateutil==2.9.0.20240316
typing-extensions==4.8.0
typing-inspect==0.9.0
tzdata==2023.3
tzlocal==5.2
unstructured-inference==0.7.11
unstructured.pytesseract==0.3.12
unstructured==0.10.30
uri-template==1.3.0
urllib3==1.26.13
utils==1.0.1
uvicorn==0.23.2
validators==0.22.0
virtualenv==20.24.6
wandb==0.15.12
wasabi==1.1.2
watchdog==3.0.0
wavedrom==2.0.3.post3
wcwidth==0.2.9
weasel==0.3.4
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
werkzeug==3.0.3
wheel==0.44.0
widgetsnbextension==4.0.11
word2vec==0.11.1
xformers==0.0.22.post7
xgboost==2.0.3
xlrd==2.0.1
xlsxwriter==3.1.9
xxhash==3.4.1
yarl==1.9.2
zarr==2.18.2
zipp==3.17.0